@charset "UTF-8";


/* --------------- Banner --------------- */

#banner{
    background-image: url("img/fundo_banner.jpg");
    height: 400px;
}

#banner-texto{
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#banner-texto h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    margin: 0px;
    margin-bottom: 10px;
    color: white;
}

#banner-texto p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    color: white;
}

/* --------------- Sobre --------------- */

#sobre{
    display: flex;
    justify-content: space-around;
    margin-bottom: 0%;

}

#sobre-texto-container{

    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#sobre-img-container{

    align-content: center;
    
}

#sobre-img-container img{
    width: 100%;
    
}

/* --------------- Texto --------------- */

.titulo-section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 0px auto 20px auto;
    text-align: center;
    padding: 0px;
    color: white;
}

.texto-section{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    width: 60%;
    margin: 20px auto 20px auto;
    text-align: justify;
}

/* --------------- Localizção --------------- */

#localizacao{
    margin-top: 0%;
    
}

.mapa-container{
    display: flex;
    justify-content: center;
}

.mapa{
    margin: 20px auto 20px auto;
    width: 90%;
    height: 300px;
}